<%- contentFor('body') %>
<div>
    <p>Agora vai</p>
</div>
<%- contentFor('body') %>
<div class="card-wrapper">
  <div class="box">
    
    <% for(var i = 0; i<= 2; i++){ %>
    
      <div class="card sel<%- i+1 %>">
        <div class="imgBx">
          <img id="img<%- i+1 %>" src=<%- cards[i].img_path %> alt="images">
        </div>
        <div class="details">
            <h2 id="nome<%- i+1 %>"><%- cards[i].nome %></h2>
        </div>
      </div>
    
    <% } %>
    </div>
  </div>
</div>

<br>
<center>
<small class="form-text">
  Quem é o melhor? Bote em ordem clicando na foto de cada personagem
  <br>
  Ordem de escolha:
  <br>
  Dourado > Prata > Bronze
</small>
</center>
<br>

<center>
<div>  
  <input type="Name" class="form-control" id="Nome" placeholder="Nome">
  <br>
  <button type="button" class="btn btn-primary" id="enviar">Enviar</button>
</div>
</center>